@page
@model Facturacion.App.Frontend.Pages.ListarEmpleadosModel
@{
}

<h2>Empleados</h2>
    <table class="table">
    
        <th scope="col" > Codigo de Empleado </td>
        <th scope="col" > Cedula </td>
        <th scope="col" > Nombres </td>
        <th scope="col" > Apellidos </td>
        <th scope="col" > Direccion </td>
        <th scope="col" > Fecha de Nacimiento </td>
        <th scope="col" > Numero de Telefono </td>
        <th scope="col" > Correo Electronico </td>     
       


    </table>

<a asp-page="/EmpleadosPages/CrEdEmpleados" class="btn btn-primary">Nuevo Empleado</a>
